<!DOCTYPE html>
<html lang="en" data-theme="luxury">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include('./partials/_script') %>
  </head>
  <body>
    <!-- Navbar -->
    <%- include('./partials/_navbar') %>

    <div class="flex flex-col lg:flex-row justify-center items-center my-10">
      <!-- Product List -->
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 p-4">
        <% products.forEach(el => { %>
            <% if (el.Store.UserId !== userId) { %>
                <div class="card shadow-gray-800 card-compact bg-base-300 w-72 shadow-sm">
                    <figure>
                      <img
                      class="w-72 h-56 object-cover"
                        src= <%= el.productImage %>
                        alt="Shoes" />
                    </figure>
                    <div class="card-body">
                      <h2 class="card-title text-primary"><%= el.productName %></h2>
                      <p><%= el.productDescription %></p>

                      <div class="card-actions justify-end items-center">
                        <p class="text-[16px] text-primary font-semibold badge bg-base-200 rounded h-12 border-base-100 italic"><%= idrFormat(el.productPrice) %></p>
                        <button class="btn btn-neutral btn-md my-2">Buy Now</button>
                      </div>
                    </div>
                  </div>
            <% } %>

        <% }) %>
      </div>
    </div>
  </body>
</html>
